<template>
    <div class="container">
        <div v-if="loadingPage" class="text-center loadingPage">
            <img src="/img/ajax-loader.gif">
            <p>{{ msg }}</p>
        </div>
        <div v-else>
            <div class="row buscar">
                <form method="POST" accept-charset="UTF-8" class="col s12">
                    <div class="row">
                        <button class="btn waves-effect waves-light" type="submit" id="Envia" @click.prevent="Create">
                            <i class="material-icons right">search</i>
                        </button>

                        <div class="input-field col s2 m2">
                            <select v-model="dado.portador" class="browser-default">
                                <option value="" selected="selected">Todos portadores</option>
                                <option value="Netseg" selected="selected">Netseg</option>
                                <option value="Egydio">Egydio</option>
                            </select>
                        </div>

                        <div class="input-field col s2 m2">
                            <select v-model="dado.contas" class="browser-default">
                                <option value="" selected="selected">Contas lançadas</option>
                                <option value="1">Contas baixadas</option>
                            </select>
                        </div>

                        <div class="input-field col s3 m3">
                            <select v-model="dado.custo" class="browser-default">
                                <option value="" selected="selected">Todos Centros de Custo</option>
                                <option v-for="custo in centrocustos" :value="custo.id">{{ custo.nome }}</option>
                            </select>
                        </div>
                        <div class="input-field col m2 s3">
                            <date-picker :date="date.endtime" :option="date.option" :limit="date.limit" @change="final"></date-picker>
                        </div>
                        <div class="input-field col m2 s3">
                            <date-picker :date="date.startTime" :option="date.option" :limit="date.limit" @change="inicial"></date-picker>
                        </div>
                    </div>
                </form>
                <img src="/img/ajax-loader.gif" v-if="sending" height="50">
                {{ msg }}
            </div>
            <div v-if="showgrafico">
                <div class="row">
                    <div class="col-md-12">
                        <highcharts :options="options" ref="highcharts"></highcharts>

                    </div>
                </div>
                <div class="row padding">
                    <div class="col s12">
                        <p><span class="bold">Total de Entradas:</span> R$ {{ resumo.totalentrada }}</p>
                        <p><span class="bold">Total de Saídas:</span> R$ {{ resumo.totalsaida }}</p>
                        <h5><span class="bold">SALDO:</span> <span class="green-text">R$ {{ resumo.saldo }}</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {apiDomain} from './../config'
    import myDatepicker from 'vue-datepicker'
    export default {
        data() {
            return {
                date: {

                    // for Vue 2.0
                    startTime: {
                        time: ''
                    },
                    endtime: {
                        time: ''
                    },

                    option: {
                        type: 'day',
                        week: ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom'],
                        month: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                        format: 'DD/MM/YYYY',
                        placeholder: 'Data',
                        inputStyle: {
                            'display': 'inline-block',
                            'padding': '6px',
                            'line-height': '22px',
                            'font-size': '16px',
                            'border': '2px solid #fff',
                            'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
                            'border-radius': '2px',
                            'color': '#5F5F5F'
                        },
                        color: {
                            header: '#4CAF50',
                            headerText: '#ffffff'
                        },
                        buttons: {
                            ok: 'Ok',
                            cancel: 'Cancel'
                        },
                        overlayOpacity: 0.5, // 0.5 as default
                        dismissible: true // as true as default
                    },

                    limit: [{
                        type: 'weekday',
                        available: [0, 1, 2, 3, 4, 5, 6]
                    },
                        {
                            type: 'fromto',
                            from: '',
                            to: ''
                        }]
                },
                loadingPage: false,
                showgrafico: false,
                centrocustos: [],
                dado: {
                    inicio: '',
                    fim: '',
                    custo: '',
                    portador: '',
                    contas: ''
                },
                resumo: {
                    totalentrada: 0,
                    totalsaida: 0,
                    saldo: 0
                },
                sending: false,
                msg: 'Loading...',
                categories: ['Jan', 'Fev', 'Mar', 'Abr', 'Maio', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                options: {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: '',
                        floating: true,
                        align: 'center',
                        verticalAlign: 'bottom',
                        y: 15
                    },
                    credits: {
                        enabled: false
                    },
                    xAxis: {
                        categories: []
                    },
                    yAxis: {
                        labels: {
                            format: '{value}'
                        },
                        title: {
                            text: 'Valor em R$'
                        }
                    },
                    colors: ['#4CAF50', '#DA0B0B'],
                    series: [{
                        name: 'Entrada',
                        data: []
                    }, {
                        name: 'Saída',
                        data: []
                    }]
                }
            }
        },
        mounted() {
            this.loadingPage = true
            this.$http.get(apiDomain + 'centrocusto').then((response) => {
                this.centrocustos = response.body
                this.loadingPage = false
                this.msg = null
            }, (response) => {
                this.server = false
                this.msg = "Erro de servidor"
                this.loadingPage = false
            })

        },
        methods: {
            Create (e) {
                this.sending = true
                this.showgrafico = false
                this.msg = ''
                this.dado.inicio = this.date.startTime.time
                this.dado.fim = this.date.endtime.time
                if(this.dado.inicio == ''){
                    this.msg = 'A data inicial é obrigatória!'
                    this.sending = false
                }else if (this.dado.fim == ''){
                    this.msg = 'A data final é obrigatória!'
                    this.sending = false
                }else{
                    this.options.series[0].data = []
                    this.options.series[1].data = []
                    this.options.title.text = ''
                    this.options.xAxis.categories = []
                    this.$http.post(apiDomain + 'grafico', this.dado).then((response) => {
                        this.sending = false
                        //this.options.series[0].data.push()
                        let centrocusto = ''
                        if(this.dado.custo == ''){
                            centrocusto = 'Todos os centros de custo'
                        }else{
                            let indexcusto = this.centrocustos.findIndex(y => y.id == this.dado.custo)
                            centrocusto = this.centrocustos[indexcusto].nome
                        }
                        this.options.title.text = 'Período: '+ this.dado.inicio +' à '+ this.dado.fim +' - Centro de Custo: '+ centrocusto + ' - Contas: ' + ((this.dado.contas == 1)? 'Baixadas' : 'Lançadas') + ' - Portador: ' + ((this.dado.portador == '')? 'Todos' : this.dado.portador)
                        this.resumo.totalentrada = response.body.totalentradas
                        this.resumo.totalsaida = response.body.totalsaidas
                        this.resumo.saldo = response.body.saldo
                        this.options.subtitle.text = '<p><span class="bold">Total de Entradas:</span> R$ '+ response.body.totalentradas +'</p> - <p><span class="bold">Total de Saídas:</span> R$ '+ response.body.totalsaidas +'</p> | <h5><span class="bold">SALDO: </span>R$ '+ response.body.saldo +'</h5>'

                        var self = this
                        if(response.body.recebimento.length >= response.body.pagamento.length){
                            response.body.recebimento.forEach(function (entry){
                                self.options.xAxis.categories.push(self.categories[entry.month - 1])
                                let ireceb = response.body.recebimento.findIndex(y => y.month === entry.month)
                                let ipag = response.body.pagamento.findIndex(y => y.month === entry.month)
                                self.options.series[0].data.push(response.body.recebimento[ireceb].soma)
                                if(ipag >= 0){
                                    self.options.series[1].data.push(response.body.pagamento[ipag].soma)
                                }else {
                                    self.options.series[1].data.push(0)
                                }
                            })
                        }else{
                            response.body.pagamento.forEach(function (entry){
                                self.options.xAxis.categories.push(self.categories[entry.month - 1])
                                let ireceb = response.body.recebimento.findIndex(y => y.month === entry.month)
                                let ipag = response.body.pagamento.findIndex(y => y.month === entry.month)
                                self.options.series[1].data.push(response.body.pagamento[ipag].soma)

                                if(ireceb >= 0){
                                    self.options.series[0].data.push(response.body.recebimento[ireceb].soma)
                                }else{
                                    self.options.series[0].data.push(0)
                                }
                            })
                        }
                        this.msg = null
                        this.showgrafico = true

                    }, (response) => {
                        this.sending = false
                        if (response.status === 422) {
                            this.msg = 'Erro de servidor'
                        } else {
                            this.msg = "Erro de servidor, tente novamente!"
                        }
                        this.showgrafico = false
                    })
                }
            },
            inicial() {
                this.dado.inicio = this.date.startTime.time
                this.dado.fim = ''
                this.date.endtime.time = ''
            },
            final() {
                this.dado.fim = this.date.endtime.time
            }

        },
        components: {
            'date-picker': myDatepicker
        }
    }
</script>
