<template>
    <div>
        <transition name="slide-fade">
            <div :class="message.type" role="alert" v-for="message in messages"
                 v-if="message.show">{{ handleShowEvent() }}
                <button type="button" class="close" :show="message.important" data-dismiss="alert" aria-label="Close" @click="message.remove()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{ message.title }}</strong>
                <ul>
                    <li v-for="text in message.text">
                        <p v-for="item in text">{{ item }}</p>
                    </li>
                </ul>
            </div>
        </transition>
    </div>
</template>
<style>
</style>
<script>
import bus from './utils/bus'
    export default{
        name: 'flash-message',
        data() {
            return {
                messages: []
            };
        },
        methods: {
            addMessage(message){
                    this.messages.shift()
                    this.messages.push({
                        text: message.text,
                        type: (typeof message.type == 'undefined') ? 'alert alert-dismissible alert-info' : 'alert alert-dismissible alert-' + message.type,
                        show: (typeof message.show == 'undefined') ? true : message.show,
                        title: message.title,
                        timeout: (typeof message.timeout == 'undefined') ? 5000 : message.timeout,
                        important: (typeof message.important == 'undefined') ? false : message.important,

                    });
            },
            remove(){
                this.messages[0].show = false;
            },
            handleShowEvent(){
                {
                    if (!this.messages[0].important) {
                        var self = this
                        setTimeout(function () {
                            this.remove()
                        }.bind(this), this.messages[0].timeout)
                    }
                }
            }

        },
        mounted() {
            bus.$on('showalert', (message) =>  this.addMessage(message))
           // bus.$on('message', (message) => alert('teste'))

        }
    }
</script>