<template>
    <div class="container">
        <div v-if="loadingPage" class="text-center loadingPage">
            <img src="/img/ajax-loader.gif">
            <p>{{ msg }}</p>
        </div>
        <div v-else>
            <div class="row buscar">
                <form method="POST" accept-charset="UTF-8" class="col s12">
                    <div class="row">
                        <button class="btn waves-effect waves-light" type="submit" id="Envia" @click.prevent="Create">
                            <i class="material-icons right">search</i>
                        </button>



                        <div class="input-field col s2 m2">
                            <select v-model="dado.contas" class="browser-default">
                                <option value="" selected="selected">Contas lançadas</option>
                                <option value="1">Contas baixadas</option>
                            </select>
                        </div>

                        <div class="input-field col s3 m3">
                            <select v-model="dado.custo" class="browser-default">
                                <option value="" selected="selected">Todos Centros de Custo</option>
                                <option v-for="custo in centrocustos" :value="custo.id">{{ custo.nome }}</option>
                            </select>
                        </div>
                        <div class="input-field col m2 s3">
                            <date-picker :date="date.endtime" :option="date.option" :limit="date.limit" @change="final"></date-picker>
                        </div>
                        <div class="input-field col m2 s3">
                            <date-picker :date="date.startTime" :option="date.option" :limit="date.limit" @change="inicial"></date-picker>
                        </div>
                    </div>
                </form>
                <img src="/img/ajax-loader.gif" v-if="sending" height="50">
                {{ msg }}
            </div>
            <div v-if="showgrafico">
                <div class="row">
                    <div class="col-md-12">
                        <highcharts :options="options" ref="highcharts"></highcharts>

                    </div>
                </div>
                <div class="row padding">
                    <div class="col s12">
                        <p><span class="bold">Total de Entradas:</span> R$ {{ resumo.totalentrada }}</p>
                        <p><span class="bold">Total de Saídas:</span> R$ {{ resumo.totalsaida }}</p>
                        <h5><span class="bold">SALDO:</span> <span class="green-text">R$ {{ resumo.saldo }}</span></h5>
                        <hr>
                        <p><span class="bold">Saldo Egydio:</span> R$ {{ resumo.saldoEgydio }}</p>
                        <p><span class="bold">Saldo Netseg:</span> R$ {{ resumo.saldoNetseg }}</p>
                        <p><span class="bold">Saldo Medicina:</span> R$ {{ resumo.saldoMedicina }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {apiDomain} from './../config'
    import myDatepicker from 'vue-datepicker'
    export default {
        data() {
            return {
                date: {
                    // for Vue 2.0
                    startTime: {
                        time: ''
                    },
                    endtime: {
                        time: ''
                    },

                    option: {
                        type: 'day',
                        week: ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom'],
                        month: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                        format: 'DD/MM/YYYY',
                        placeholder: 'Data',
                        inputStyle: {
                            'display': 'inline-block',
                            'padding': '6px',
                            'line-height': '22px',
                            'font-size': '16px',
                            'border': '2px solid #fff',
                            'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
                            'border-radius': '2px',
                            'color': '#5F5F5F'
                        },
                        color: {
                            header: '#4CAF50',
                            headerText: '#ffffff'
                        },
                        buttons: {
                            ok: 'Ok',
                            cancel: 'Cancel'
                        },
                        overlayOpacity: 0.5, // 0.5 as default
                        dismissible: true // as true as default
                    },
                    limit: [{
                        type: 'weekday',
                        available: [0, 1, 2, 3, 4, 5, 6]
                    },
                        {
                            type: 'fromto',
                            from: '',
                            to: ''
                        }]
                },
                loadingPage: false,
                showgrafico: false,
                centrocustos: [],
                dado: {
                    inicio: '',
                    fim: '',
                    custo: '',
                    contas: ''
                },
                resumo: {
                    totalentrada: 0,
                    totalsaida: 0,
                    saldo: 0,
                    saldoEgydio: 0,
                    saldoNetseg: 0,
                    saldoMedicina: 0
                },
                sending: false,
                msg: 'Loading...',
                options: {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: ''
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },

                    subtitle: {
                        text: '',
                        floating: true,
                        align: 'right',
                        verticalAlign: 'middle',
                        widthAdjust:100,
                        y: 0,
                        useHTML: true
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name: 'Participação',
                        colorByPoint: true,
                        data: [{
                            name: '',
                            y: 56.33
                        }, {
                            name: '',
                            y: 24.03,
                            sliced: true,
                            selected: true
                        }, {
                            name: '',
                            y: 24.03,
                            sliced: true,
                            selected: true
                        }]
                    }]
                }
            }
        },
        mounted() {
            this.loadingPage = true
            this.$http.get(apiDomain + 'centrocusto').then((response) => {
                this.centrocustos = response.body
                this.loadingPage = false
                this.msg = null
            }, (response) => {
                this.server = false
                this.msg = "Erro de servidor"
                this.loadingPage = false
            })

        },
        methods: {
            Create (e) {
                this.sending = true
                this.showgrafico = false
                this.msg = ''
                this.dado.inicio = this.date.startTime.time
                this.dado.fim = this.date.endtime.time
                if(this.dado.inicio == ''){
                    this.msg = 'A data inicial é obrigatória!'
                    this.sending = false
                }else if (this.dado.fim == ''){
                    this.msg = 'A data final é obrigatória!'
                    this.sending = false
                }else{

                    this.options.title.text = ''

                    this.$http.post(apiDomain + 'grafico_resultado', this.dado).then((response) => {
                        this.sending = false
                        //this.options.series[0].data.push()
                        let centrocusto = ''
                        if(this.dado.custo == ''){
                            centrocusto = 'Todos os centros de custo'
                        }else{
                            let indexcusto = this.centrocustos.findIndex(y => y.id == this.dado.custo)
                            centrocusto = this.centrocustos[indexcusto].nome
                        }
                        this.options.title.text = 'Período: '+ this.dado.inicio +' à '+ this.dado.fim +' - Centro de Custo: '+ centrocusto + ' - Contas: ' + ((this.dado.contas == 1)? 'Baixadas' : 'Lançadas')
                        this.resumo.totalentrada = response.body.totalentradas
                        this.resumo.totalsaida = response.body.totalsaidas
                        this.resumo.saldo = response.body.saldo
                        this.resumo.saldoEgydio = response.body.saldoEgydiof
                        this.resumo.saldoNetseg = response.body.saldoNetsegf
                        this.resumo.saldoMedicina = response.body.saldoMedicinaf
                        this.options.subtitle.text = '<p><span class="bold">Total de Entradas:</span> R$ '+ response.body.totalentradas +'</p><p><span class="bold">Total de Saídas:</span> R$ '+ response.body.totalsaidas +'</p><h5><span class="bold">SALDO: </span>R$ '+ response.body.saldo +'</h5><p><span class="bold">Saldo Egydio:</span> R$ ' + response.body.saldoEgydiof + '</p><p><span class="bold"> Saldo Netseg:</span> R$ ' + response.body.saldoNetsegf + '</p><p><span class="bold"> Saldo Medicina:</span> R$ ' + response.body.saldoMedicinaf + '</p>'

                        this.options.series[0].data[0].name = 'Egydio'
                        this.options.series[0].data[0].y = response.body.saldoEgydio

                        this.options.series[0].data[1].name = 'Netseg'
                        this.options.series[0].data[1].y = response.body.saldoNetseg

                        this.options.series[0].data[2].name = 'Medicina'
                        this.options.series[0].data[2].y = response.body.saldoMedicina

                        this.msg = null
                        this.showgrafico = true

                    }, (response) => {
                        this.sending = false
                        if (response.status === 422) {
                            this.msg = 'Erro de servidor'
                        } else {
                            this.msg = "Erro de servidor, tente novamente!"
                        }
                        this.showgrafico = false
                    })
                }

            },
            inicial() {
                this.dado.inicio = this.date.startTime.time
                this.dado.fim = ''
                this.date.endtime.time = ''
            },
            final() {
                this.dado.fim = this.date.endtime.time
            }

        },
        components: {
            'date-picker': myDatepicker
        }
    }
</script>
