
.bold{font-weight: bold;}
.padding{padding: 15px 0}

/* === BOTÕES === */
.btn:hover, .btn-large:hover {
    background-color: #51d255;
}
.btn-cadastrar{
    padding: 0.4rem 3rem;
    border-radius: 0;
    font-weight: bold;
}

.btn, .btn-large, .btn-flat {
    line-height: 27px;
}

/* === CORES FONTES === */
.corcinza{color: #A5A5A5;}
.corbranca{color: #FFF;}
.corlabel{color: #9E9E9E;}

/* === TAM. FONTES === */
.font12{font-size: 0.9rem;}
.font16{font-size: 1.2rem;}
.font20{font-size: 1.4rem;}

/* LATO REGULAR*/
@font-face {
    font-family: 'latoregular';
    src: url('lato-regular-webfont.eot');
    src: url('lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('lato-regular-webfont.woff2') format('woff2'),
    url('lato-regular-webfont.woff') format('woff'),
    url('lato-regular-webfont.ttf') format('truetype'),
    url('lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* LATO BOLD */
@font-face {
    font-family: 'latobold';
    src: url('lato-bold-webfont.eot');
    src: url('lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('lato-bold-webfont.woff2') format('woff2'),
    url('lato-bold-webfont.woff') format('woff'),
    url('lato-bold-webfont.ttf') format('truetype'),
    url('lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

#main {
    padding-left: 240px;
    margin-top: -15px;
}

.msg{display: block; background: #ff8175; color: #fff; padding: 15px 20px; border-radius: 10px;
}
@media (max-width: 992px) {
    #main {
        padding-left: 0;
        margin-top: -15px;
    }
}
.bold{font-weight: bold;}
body{font-family: latoregular;}
nav {
    color: #30611E;
    background-color: #F2F1EF;
}
nav ul a {
    color: #30611E;
    padding: 8px 15px;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 70px;
    border-bottom: solid 1px #5B9C38;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    line-height: 30px;
}
nav ul li:hover, nav ul li.active {
    background: none;
}
nav ul li a.img-link:hover, nav ul li a.img-link.active {
    background-color: rgba(0, 0, 0, 0.1);
}
nav ul li a.img-link{padding: 10px 19px;}

#form .col .row {
    margin-left: 0.5rem;
}

.row {
    margin-bottom: 10px;
}
.alinha{margin-left: 0rem;}
.side-nav {
    top: 70px;
    z-index: 997;
}
.side-nav a {
    font-size: 1rem;
    height: auto;
    line-height: 50px;
}
.side-nav li {
    border-bottom: solid 1px #EEEEEE;
}
.side-nav.fixed a {color: #8B8B8B;}
.side-nav.fixed a i {
    color: #4CAF50;
    font-size: 25px;
    margin-right: 5px;
}
ul.side-nav.leftside-navigation {
    overflow: hidden;
    top: 64px;
}
.sidebar-collapse {
    position: fixed;
    top: 20px;
    z-index: 998;
    margin: 0px 10px;
}


footer.page-footer {
    background-color: #F2F1EF;
    margin-top: 7rem;
    padding-top: 30px;
}
footer.page-footer .footer-copyright {
    color: #2D601D;
    background: none;
    line-height: normal;
    height: 39px;
}


/* === BOTÕES === */
.btn, .btn-large, .btn-flat {
    /*height: 47px;*/
}
.btn:hover, .btn-large:hover {
    background-color: #51d255;
}
.btn-cadastrar{
    padding: 0.4rem 3rem;
    border-radius: 0;
    font-weight: bold;
}
.btn {
    background-color: #4CAF50;
}

/* === INPUT === */
input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #30611E;
    box-shadow: 0px 1px 0px 0px #4CAF50;
}
.input-field input[type="text"]:focus + label, .input-field input[type="email"]:focus + label{
    color: #30611E;
}

/* === CORES FONTES === */
.corcinza{color: #A5A5A5;}
.corbranca{color: #FFF;}

/* === CORES BG === */
.bgverde{background-color: #4CAF50; height: 5.45rem;}
.bgverde2{background-color: #4CAF50;}
.bgverde p {padding: 15px;}

/* === TAM. FONTES === */
.font12{font-size: 0.9rem;}
.font16{font-size: 1.2rem;}
.font20{font-size: 1.4rem;}


.fixed-action-btn.horizontal ul {
    transform: translateY(-48%);
    height: 169%;
    width: 330px;
    text-align: right;
    right: 100%;
}
.fixed-action-btn {
    position: relative;
    right: 23px;
    bottom: 0;
    padding-top: 15px;
    margin-bottom: 0px;
    z-index: 998;
}
.opcoes .btn-floating {
    width: 30px;
    height: 30px;
}
.opcoes .btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #FFF;
    font-size: 1.2rem;
    line-height: 31px;
}
.buscar{text-align: right; margin-bottom: 30px !important;}
.buscar .btn {
    height: 33px;
    padding: 0px 13px !important;
    margin: 21px 3px;
    float: right;
}
.buscar .input-field {
    float: right !important;
}
.buscar i.right {
    margin-left: 3px;
}
.pagination li.active {
    background-color: #4AAD4E;
    color: #fff;
}
.paginacao{
    text-align: right;
    margin-top: 17px;
}
#sidenav-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 800;
    will-change: opacity;
}
.fixed-action-btn {
    position: relative;
    right: 23px;
    bottom: 0px;
    padding-top: 15px;
    margin-bottom: 0px;
    z-index: 799;
}
.bg{margin-bottom: 4px !important;}

.iframe-corpo .bgverde {
    background-color: #4CAF50;
    height: 2.45rem;
}
.iframe-corpo .bgverde p {
    padding: 0;
    margin: 7px;
}

.menu-drop a.collapsible-header{padding-top: 10px !important;}


.menu-drop a {
    font-size: 1rem;
    height: auto;
    line-height: 38px;
}

#slide-out li a i {
    line-height: inherit;
    width: 1.5rem;
    font-size: 1.6rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 0.5rem;
}


.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #4CAF50;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}
.btn-md{
    height: 34px;
    padding: 0 10px;
    line-height: 34px;
    margin-top: 10px;
    text-transform: initial;
}
.btn-md i.right {
    float: right;
    margin-left: 5px;
}

nav ul a {
    color: #a0a0a0;
    padding: 3px 15px;
}
nav ul a:hover, nav ul a:focus, nav ul a:visited, nav ul a:active{
    color: #30611E;
    padding: 3px 15px;
}

.clientes{
    margin-left: -7px;
    margin-right: 3px !important;
}
.bg-inativo{background: rgba(255, 0, 0, 0.21); margin-left: 5px;}
.bg-login{
    background: #F2F1EF;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    padding: 0px 10px 20px 10px !important;
    margin: 40px 25% !important;
}
.btn-login{margin-right: 35px;}
a.green-text:hover {
    text-decoration: underline;
}
.border-login{border-bottom: 1px solid #30611E;}
@media (max-width: 600px){
    .bg-login{
        margin: 40px auto !important;
    }
}
footer.login-footer {
    padding: 20px 0px;
}

/* == ALERT == */
.alert h4 {
    margin-top: 0;
    color: inherit;
}
.alert .alert-link {
    font-weight: bold;
}
.alert > p,
.alert > ul {
    margin-bottom: 0;
}
.alert > p + p {
    margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-success hr {
    border-top-color: #c9e2b3;
}
.alert-success .alert-link {
    color: #2b542c;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-info hr {
    border-top-color: #a6e1ec;
}
.alert-info .alert-link {
    color: #245269;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-warning hr {
    border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
    color: #66512c;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-danger hr {
    border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
    color: #843534;
}

.servico {
    border-bottom: 1px solid #EEE;
    padding-bottom: 19px !important;
}

.servico .btn-floating {
    width: 30px;
    height: 30px;
    line-height: 26px;
    margin-left: 6px;
}

.servico .btn-floating i {
    line-height: 0;
    font-size: 1.2rem;
}
.capitalize{
    text-transform: capitalize;
}
.lowercase {
     text-transform: lowercase !important;
 }

.uppercase {
    text-transform: uppercase !important;
}


.btn-cronograma{
    height: auto;
    line-height: 250%;
    padding: 0px 10px;
    margin-top: 10px;
}

.btn-cronograma:hover{
    background-color: #51D255;
}


.cronograma thead tr td{
    color: #606060;
    background-color: rgb(237, 237, 237);
}
.cronograma i{color: transparent}
.cronograma i:hover{color: #fff}

.cronograma tbody tr td{
    border-right: 1px solid #eee;
    padding: 0 5px;
}

.cronograma tbody tr .vazio{
    text-align: center !important;
}

tbody tr .full{
    background-color: rgba(225, 255, 226, 0.3);
    font-size: 18px;}

.principal{
    background-color: rgb(74, 173, 78) !important;
    color: rgb(255, 255, 255) !important;
}
.centro{
    background-color: rgb(74, 173, 78);
    color: #fff;
}
.filtro{
    margin-bottom: 40px !important;
}
.id{
    padding: 19px 18px;
    font-size: 18px;
    background: #57B223 none repeat scroll 0% 0%;
    color: #FFF;
    border-radius: 0;
    font-weight: bold;
    border-right: none !important;
}

.btn-link .btn, .btn-large, .btn-flat {
    padding: 11px 2rem;
}

.iframe-p p{margin-bottom: -9px;}

.btn-editar{
    margin-top: 30px;
}

.bg-cinza{background: #d0d0d0}
.bg-amarelo{background: #f9c922}
.bg-azul{background: #c3fffa}
.bg-azulescuro{background: #0500b5}
.bg-vermelho{background:  #b81900}
.espacoconformidade{
    height: 60px ;
}
.marginconformidade{
    margin-bottom: 20px;
}

.btn-limpar{
    margin-top: 15px;
    text-align: left;
}

input[type="text"]:disabled{
    color: #383838;
}
.side-nav .col-body2 li a {
    margin: 0;
}
.side-nav .collapsible-body li a {
    margin: 0 1rem 0 0rem;
}
.cinza{color:#8B8B8B !important; font-size: 18px !important;}

.list_json {
    border: 1px solid rgb(60, 127, 177);
    margin-top: 0px;
    padding: 1px 5px;
    border-top: none;

}
.list_json li{
    list-style: outside none none;
    margin: 2px auto;
}

.textbox-fill-input {
    width: 97.5%;
}

.arquivo .btn-floating {
    width: 17px;
    height: 17px;
    line-height: 17px;
}

.arquivo .btn-floating i {
    font-size: 15px;
    line-height: 0;
}