.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #0087C3;
    text-decoration: none;
}

body {
    position: relative;
    width: 100%;
    /*width: 21cm;*/
    /*border: 1px solid black;*/
    height: 60.7cm;
    background: #fff;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-align: left;
}


.margin-0{
    margin: 0!important;
}

table{
    width: 100%;
    border-collapse: collapse!important;
    border-spacing: 0;
    table-layout: fixed;
    font-size: 14px;
}

table th {
    white-space: nowrap;
    font-weight: normal;
}

.left-align { text-align: left; }

.right-align { text-align: right; }

.quebra { page-break-after: always; }

.text-center{
    text-align: center;
}

.logo{
    width: 214px;
}

.v-top{
    vertical-align: top;
}

.mb-10{
    margin-bottom: 10px;
}

.mt-10{
    margin-top: 9px;
}

.mt-5{
    margin-top: 5px;
}

.pt-10{
    padding-top: 9px;
}

.pb-10{
    padding-bottom: 10px;
}

.p-10{
    padding: 10px;
}
.p-12{
    padding:12px;
}
.p-5{
    padding: 5px;
}
.pl-5{
    padding-left: 5px;
}
.label{
    /*display:table-cell;*/
    font-weight: bold;
}

.bb, .bb td{
    border-bottom: 2px solid black;
}

.bt, .bt td{
    border-top: 2px solid black;
}

.width-55{
    width: 55%!important;
}

.bordered{
    border: 2px solid black;
}

.square{
    width: 18px!important;
    height: 18px!important;
    border: 2px solid black;
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 0px;
    margin-right: 6px;
}

.antecedentes td{
    border: 2px solid black;
}

.p-2{
    padding: 2px;
}
.check{
    display: inline-block;
    border: 1px solid black;
    width: 28px;
    height: 11px;
    border-radius: 2px;
    margin: 2px;
    margin-left: 6px;
}

.fs-13{
    font-size: 13px;
}

.fs-16{
    font-size: 16px!important;
}

.bold{
    font-weight: bold;
}

.ultimas td{
    border: 2px solid black;
    padding: 10px;
}

.space{
    width: 32px;
    display: inline-block;
}
.pb-25{
    padding-bottom: 25px;
}

.tittle{
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
}

.od{
    padding-bottom: 7px;
    display: block;
}

.exame{
    font-size: 14px;
    border-bottom: 2px solid black;
    font-weight: bold;
}

@page {
    size: A4;
    margin:5mm;
}

