.clearfix:after {
    content: "";
  display: table;
  clear: both;
}

a {
  color: #0087C3;
  text-decoration: none;
}

body {
  position: relative;
  width: 100%;
  height: 29.7cm; 
  margin: 0 auto; 
  color: #555555;
  background: #fff;
  font-family: Arial, sans-serif; 
  font-size: 12px;
}

header {
  padding: 5px 0;
  margin-bottom: 7px;
  border-bottom: 1px solid #AAAAAA;
}

#logo {
  text-align: left;
  margin-top: 8px;
}

#logo img {
  max-height: 70px;
}

#company {
  float: right;
  text-align: right;
}


#details {
  margin-bottom: 30px;
}

#client {
  padding-left: 6px;
  border-left: 6px solid #0087C3;
}


#client .to {
  color: #777777;
}

h2.name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

#invoice {
  float: right;
  text-align: right;
}

#invoice h1 {
  color: #0087C3;
  font-size: 2.4em;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
}

#invoice .date {
  font-size: 1.1em;
  color: #777777;
}

header table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,
table td {
  padding: 8px 5px;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}


table th {
  white-space: nowrap;
  font-weight: normal;
}

table td {
  text-align: center;
}

table td h3{
  color: #57B223;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

table .no {
  color: #FFFFFF;
  font-size: 1.6em;
  background: #57B223;
}

table .desc {
  text-align: left;
}

table .unit {
  background: #DDDDDD;
}

table .qty {
}

table .total {
  background: #57B223;
  color: #FFFFFF;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1em;
}

table tbody tr:last-child td {
  border: none;
}

table tfoot td {
  padding: 15px 5px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 1em;
  white-space: nowrap;
  border-top: 1px solid #AAAAAA;
}

table tfoot tr:first-child td {
  border-top: none;
  text-align: right;
}

table tfoot tr:last-child td {
  color: #57B223;
  font-size: 1em;
  border-top: 1px solid #57B223;
    font-weight: bold;

}

table tfoot tr td:first-child, table tfoot tr td:nth-child(2) {
  text-align: left;
}



#thanks{
  font-size: 1.5em;
  margin-bottom: 50px;
  margin-top: 10px;
}

#notices{
  padding-left: 6px;
  border-left: 6px solid #0087C3;  
}

#notices .notice {
  font-size: 1.2em;
}

footer {
  color: #777777;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #AAAAAA;
  padding: 3px 0;
  text-align: center;
}

.parcelas .no {
  color: #FFFFFF;
  font-size: 1em;
  background: #57B223;
}

.parcelas {
  margin-top: 50px;
  width: 30%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.parcelas th,
.parcelas td {
  padding: 10px 5px;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}
.topo td{background: none}

.client {
    padding-left: 6px;
    border-left: 6px solid #0087C3;
}
.topo2{margin-top: 10px !important;}
.client2 {
    padding:  -10px 6px;
    border-left: 6px solid #0087C3;
}
.client3 {
    padding:  -10px 6px;
    border-right: 6px solid #0087C3;
}

.left-align { text-align: left; }

.right-align { text-align: right; }

.center-align { text-align: center; }

.font12{font-size: 12px;}

.corcinza{color: #777777;}

thead { display: table-header-group }
tfoot { display: table-row-group }
tr { page-break-inside: avoid }
