.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
html { margin: 5px 20px; }
a {
  color: #0087C3;
  text-decoration: none;
}

body {
  position: relative;
  width: 100%;
  height: 29.7cm;
  margin: 0 auto;
  color: #555555;
  background: #fff;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

header {
  padding: 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #AAAAAA;
}
div.breakNow { page-break-inside:avoid; page-break-after:always; }

#logo {
  text-align: left;
  margin-top: 8px;
}

#logo img {
  max-height: 70px;
}

#company {
  float: right;
  text-align: right;
}


#details {
  margin-bottom: 5px;
}

#client {
  padding-left: 6px;
  border-left: 6px solid #0087C3;
  text-align: left;
}


#client .to {
  color: #777777;
}

h2.name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

#invoice {
  float: right;
  text-align: right;
}

#invoice h1 {
  color: #0087C3;
  font-size: 2.4em;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
}

#invoice .date {
  font-size: 1.1em;
  color: #777777;
}
tr.teste{ 
  page-break-after: always;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 10px;

}

table th,
table td {
  padding: 5px 5px;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}


table th {
  white-space: nowrap;
  font-weight: normal;
}

table td {
  text-align: center;
}

table td h3{
  color: #57B223;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

table .no {
  color: #FFFFFF;
  font-size: 1.6em;
  background: #57B223;
    width: 5%;
}

table .desc {
  text-align: left;
    font-size: 10px;
}

table .unit {
  background: #DDDDDD;
}

table .qty {
}

table .total {
  background: #57B223;
  color: #FFFFFF;
    width: 14%;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1em;
}

table tbody tr:last-child td {
  border: none;
}

.geral table tfoot td {
  padding: 10px 20px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 1.2em;
  white-space: nowrap;
  border-top: 1px solid #AAAAAA;
}

.geral table tfoot tr:first-child td {
  border-top: none;
  text-align: right;
}

.geral table tfoot tr:last-child td {
  color: #57B223;
  font-size: 1.4em;
  border-top: 1px solid #57B223;

}

.geral table tfoot tr td:first-child {
  border: none;
}



#thanks{
  font-size: 1em;
  margin-bottom: 10px;
}

#total{
  padding-right: 6px;
  border-right: 6px solid #57B223;
    text-align: right;
}

#total .notice {
  font-size: 1.7em;
}

#notices{
  padding-left: 6px;
  border-left: 6px solid #0087C3;
    margin-bottom: 15px;
}

#notices .notice {
  font-size: 1.2em;
}

footer {
  color: #777777;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #AAAAAA;
  padding: 8px 0;
  text-align: center;
}

.parcelas .no {
  color: #FFFFFF;
  font-size: 1em;
  background: #57B223;
}

.parcelas {
  margin-top: 15px;
  width: 30%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 5px;
}

.parcelas th,
.parcelas td {
  padding: 5px 5px;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}
.topo td{background: none}

.corvermelha{color: #a21318}
.corazul{color: #2962FF}
.corverde{color: #008040;}
.font10{font-size: 10px}