.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #0087C3;
    text-decoration: none;
}

body {
    position: relative;
    width: 100%;
    /*width: 21cm;*/
    /*border: 1px solid black;*/
    height: 29.7cm;
    background: #fff;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-align: left;
}

.margin-0{
    margin: 0!important;
}

table{
    width: 100%;
    border-collapse: collapse!important;
    border-spacing: 0;
    table-layout: fixed;
    border: 3px solid black;
}


table th {
    white-space: nowrap;
    font-weight: normal;
}


.left-align { text-align: left; }

.right-align { text-align: right; }

.quebra { page-break-after: always; }

.header, .header td{
    border: 3px solid black;
}

.text-center{
    text-align: center;
}

.logo{
    width: 214px;
}

.tittle{
    color: #000;
    font-style: italic;
    font-size: 20px;
}

.programa div{
    font-size: 16px;
    margin-left: -3px;
    margin-top: 5px;
    font-weight: bold;
}
.programa{
    font-size: 12px;
    padding-left: 10px;
}

.vias{
    vertical-align: bottom;
    text-align: right;
    font-size: 12px;
    padding-right: 5px;
}

.v-top{
    vertical-align: top;
}

.border1{
    font-size: 12px;
    line-height: 1;
}

.border1 td{
    padding: 6px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.bgcinza{
    background-color: #c7c8ca;
    font-weight: bold;
    font-style: italic;
}

.p4{
    padding: 4px!important;
}

.bgcinza td{
    padding: 5px;
}

.exame td{
    padding: 8px;
    font-style: italic;
}

.riscos{
    border-right: 2px solid black;
    padding: 8px 0!important;
}

.b-right{
    border-right: 2px solid black;
}

.b-bottom-w{
    border-bottom-color: white!important;
}

.riscos_left{
    border-bottom-color: white!important;
    text-align: center;
}

.p-12 td{
    padding: 12px 10px 5px 10px;
}

.pb-12{
    padding-bottom: 12px!important;
}

.ciente{
    text-align: center;
    margin-left: 143px;
    margin-top: 2px;
}

.recebi{
    font-weight: bold;
    margin-bottom: 22px;
}

.examinador{
    font-weight: bold;
    border-bottom: 2px solid black;
    vertical-align: top;
    padding: 6px 0!important;
}

.examinador div{
    border-bottom: 2px solid black;
}

.footer{
    font-size: 14px;
}

.obs{
    padding:36px!important;
}

@page {
    size: A4;
    margin:5mm;
}

