<template>
    <div>
        <div v-if="loadingPage" class="text-center loadingPage">
            <img src="/img/ajax-loader.gif">
        </div>
        <div v-else>
            <div class="row" v-if="server">

                <div class="col-md-12">
                    <form role="form" class="form-horizontal" enctype="multipart/form-data">
                        <h3><i class="fa fa-list"></i> Cadastrar Novo {{ nome }}</h3>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div v-if="!dado.file">
                                    <h2>Selecione uma imagem</h2>
                                    <input type="file" @change="onFileChange">
                                </div>
                                <div v-else>
                                    <img :src="dado.file" class="uploaded" width="300" />
                                    <button @click.prevent="removeImage" class="btn btn-danger">Remover imagem</button>
                                </div>
                                <p class="help-block">A imagem do banner deve ter 1300 X 563 pixels</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Nome do Banner</label>
                                <input class="form-control" v-model="dado.name" placeholder="Nome do banner" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label>Ordem do Banner</label>
                                <input class="form-control" v-model="dado.order" placeholder="Ordem do Banner" type="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Título do Banner</label>
                                <input class="form-control" v-model="dado.title" placeholder="Título do banner">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Subtítulo do Banner</label>
                                <input class="form-control" v-model="dado.subtitle" placeholder="Subtítulo do banner">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Texto do botão do Banner</label>
                                <input class="form-control" v-model="dado.buttom" placeholder="Texto do botão do banner">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Link do botão do Banner</label>
                                <input class="form-control" v-model="dado.link" placeholder="Ex.: http://www.dominio.com.br/pagina">
                            </div>
                        </div>

                        <div class="form-group">
                            <div v-if="!modalOpen">
                                <flash-message></flash-message>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" @click.prevent="Create" class="btn btn-default btn-primary btn-lg">Adicionar {{ nome }}</button>
                                <img src="/img/ajax-loader.gif" v-if="sending" height="50">
                            </div>
                        </div>


                    </form>
                </div>
                <div class="col-md-12">
                    <hr>
                    <h3><i class="fa fa-list"></i> Lista de Cadastrados </h3>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Imagem</th>
                            <th>Dados</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in dados">
                            <td><img :src="'/uploads/banners/' + item.file" :alt="item.name" class="img-thumbnail img-responsive" width="200"></td>
                            <td>
                                <h3> Dados do Banner </h3>
                                <p>Nome: {{ item.name }}</p>
                                <p>Ordem: {{ item.order }}</p>
                                <p>Título: {{ item.title }}</p>
                                <p>Subtítulo: {{ item.subtitle }}</p>
                                <p>Texto do botão: {{ item.buttom }}</p>
                                <p>Link do botão: {{ item.link }}</p>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-circle" @click.prevent="EditModal(item.id)" title="Editar"><i class="fa fa-list"></i></button>
                                <button type="button" class="btn btn-danger btn-circle" @click.prevent="DeleteModal(item.id)" title="Excluir"><i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" v-else="server">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        {{ msg }}
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>

        <modal :show.sync="showEditModal">
            <div slot="modal-header" class="modal-header">
                <h4 class="modal-title">
                    Editando {{ nome }}
                </h4>
            </div>
            <div slot="modal-body" class="modal-body">
                <div v-if="loadingEditModal" class="loadinPage">
                    <img src="/img/ajax-loader.gif" width="40px" alt="Loader">
                </div>
                <div v-else>
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div v-if="!dadosEditOrDelete.file">
                                    <img :src="'/uploads/banners/' + dadosEditOrDelete.imagem" :alt="dadosEditOrDelete.name" class="img-thumbnail img-responsive" width="200">
                                    <h4>Selecione uma imagem somente se você deseja trocar a atual</h4>
                                    <input type="file" @change="onFileChangeEdit">
                                </div>
                                <div v-else>
                                    <img :src="dadosEditOrDelete.file" class="uploaded" width="300"/>
                                    <button @click.prevent="removeImageEdit" class="btn btn-danger">Trocar a imagem</button>
                                </div>
                                <p class="help-block">A imagem do banner deve ter 1300 X 563 pixels</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Nome do Banner</label>
                                <input class="form-control" v-model="dadosEditOrDelete.name" placeholder="Nome do banner" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>Ordem do Banner</label>
                                <input class="form-control" v-model="dadosEditOrDelete.order" placeholder="Ordem do Banner" type="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Título do Banner</label>
                                <input class="form-control" v-model="dadosEditOrDelete.title" placeholder="Título do banner">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Subtítulo do Banner</label>
                                <input class="form-control" v-model="dadosEditOrDelete.subtitle" placeholder="Subtítulo do banner">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Texto do botão do Banner</label>
                                <input class="form-control" v-model="dadosEditOrDelete.buttom" placeholder="Texto do botão do banner">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Link do botão do Banner</label>
                                <input class="form-control" v-model="dadosEditOrDelete.link" placeholder="Ex.: http://www.dominio.com.br/pagina">
                            </div>
                        </div>
                        <div class="form-group">
                            <flash-message v-if="showEditModal"></flash-message>
                            <div class="col-md-12 text-center">
                                <button type="submit" @click.prevent="Edit" class="btn btn-default btn-primary btn-lg">Alterar {{ nome }}</button>
                                <img src="/img/ajax-loader.gif" v-if="sendingedit" height="50">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div slot="modal-footer" class="modal-footer">
                <button type="button" class="btn btn-default" @click.prevent="CloseEditModal">Cancelar</button>
            </div>
        </modal>

        <modal :show.sync="showDeleteModal">
            <div slot="modal-header" class="modal-header">
                <h4 class="modal-title">
                    Tem certeza que deseja excluir este {{ nome }}?
                </h4>
            </div>
            <div slot="modal-body" class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3> Dados do {{ nome }} </h3>
                        <img :src="'/uploads/banners/' + dadosEditOrDelete.file" :alt="dadosEditOrDelete.name" class="img-thumbnail img-responsive" width="300">
                        <hr>
                        <p>Nome: <strong>{{ dadosEditOrDelete.name }}</strong></p>
                        <p>Ordem: {{ dadosEditOrDelete.order }}</p>
                        <p>Título: {{ dadosEditOrDelete.title }}</p>
                        <p>Subtítulo: {{ dadosEditOrDelete.subtitle }}</p>
                        <p>Texto do Botão: {{ dadosEditOrDelete.buttom }}</p>
                        <p>Link do Botão: {{ dadosEditOrDelete.link }}</p>
                        <p></p>
                        <flash-message v-if="showDeleteModal"></flash-message>
                        <div class="col-md-12 text-center">
                            <button type="submit" @click.prevent="Delete" class="btn btn-default btn-primary btn-lg">Excluir {{ nome }}</button>
                            <img src="/img/ajax-loader.gif" v-if="sendingdelete" height="50">
                        </div>
                    </div>
                </div>
            </div>
            <div slot="modal-footer" class="modal-footer">
                <button type="button" class="btn btn-default" @click.prevent="CloseDeleteModal">Cancelar</button>
            </div>
        </modal>
    </div>
</template>

<script>
    import {apiDomain} from './../../config'
    import flashMessage from './../flash-message'
    import bus from './../utils/bus'
    import _ from 'lodash'
    import VueStrap from 'vue-strap'
    export default {
        name: "banners",
        data() {
            return {
                server: true,
                loadingPage: true,
                showEditModal: false,
                showDeleteModal: false,
                loadingEditModal: false,
                sendingedit: false,
                sendingdelete: false,
                sending: false,
                modalOpen: false,
                errorMsg: {},
                nome: 'Banner',
                url: 'api/banners',
                image: '',
                dadosEditOrDelete: {
                    id: null,
                    name: null,
                    order: null,
                    title: null,
                    subtitle: null,
                    file: null,
                    buttom: null,
                    link: null,
                    imagem: ''
                },
                dado: {
                    name: null,
                    order: 0,
                    title: null,
                    subtitle: null,
                    file: null,
                    buttom: null,
                    link: null
                },
                dados: []
            }
        },
        mounted () {
            this.loadingPage = true
            this.$http.get(apiDomain + this.url).then((response) => {
                this.dados = response.body.original
                this.loadingPage = false
            }, (response) => {
                this.server = false
                this.msg = "Erro de servidor"
                this.loadingPage = false
            })
        },
        methods: {
            onFileChange(e) {
              var files = e.target.files || e.dataTransfer.files;
              if (!files.length)
                return;
              this.createImage(files[0]);
            },
            createImage(file) {
              var image = new Image();
              var reader = new FileReader();
              var vm = this;
              reader.onload = (e) => {
                vm.dado.file = e.target.result
              };
              reader.readAsDataURL(file);
            },
            removeImage: function (e) {
              this.dado.file = '';
            },
            onFileChangeEdit(e) {
              var files = e.target.files || e.dataTransfer.files;
              if (!files.length)
                return;
              this.createImageEdit(files[0]);
            },
            createImageEdit(file) {
              var image = new Image();
              var reader = new FileReader();
              var vm = this;
              reader.onload = (e) => {
                vm.dadosEditOrDelete.file = e.target.result
              };
              reader.readAsDataURL(file);
            },
            removeImageEdit: function (e) {
              this.dadosEditOrDelete.file = '';
            },
            Create (e) {
                this.sending = true
                this.$http.post(apiDomain + this.url, this.dado).then((response) => {
                    this.dados.push(response.body)
                    this.sending = false
                    this.buttonClickHandler({
                        text: {msg: [ this.nome + " adicionado com sucesso!"]},
                        type: 'success',//optional
                        title: 'Sucesso!',
                    })
                }, (response) => {
                    this.sending = false
                    if (response.status === 422) {
                      this.errorMsg = response.body
                    } else {
                      this.errorMsg = {msg: ["Erro de servidor, tente novamente!"]}
                    }
                    this.buttonClickHandler({
                        text: this.errorMsg,
                        type: 'danger',//optional
                        title: 'Erro!',
                    })
                })
            },
            Edit () {
                this.sendingedit = true
                let id = this.dadosEditOrDelete.id
                this.$http.put(apiDomain + this.url + '/' + id, this.dadosEditOrDelete).then(
                  (req) => {
                    this.sendingedit = false
                    let index = this.dados.findIndex(y => y.id === id)
                    this.dados[index] = req.body
                    this.buttonClickHandler({
                        text: {msg: [this.nome + " Editado com sucesso!"]},
                        type: 'success',//optional
                        title: 'Sucesso!',
                    })
                    setTimeout(function () {
                            this.showEditModal = false
                            this.modalOpen = false
                        }.bind(this), 5000)
                  },
                  (response) => {
                    this.sendingedit = false
                    if (response.status === 422) {
                      this.errorMsg = response.body
                    } else {
                      this.errorMsg = {msg: ["Erro de servidor, tente novamente!"]}
                    }
                    this.buttonClickHandler({
                        text: this.errorMsg,
                        type: 'danger',//optional
                        title: 'Erro!',
                    })
                  })
            },
            EditModal (id) {
                this.showEditModal = true
                this.loadingEditModal = true
                this.modalOpen = true
                let edit = JSON.parse(JSON.stringify(this.dados[this.dados.findIndex(y => y.id === id)]))
                this.dadosEditOrDelete = edit
                this.dadosEditOrDelete.imagem = this.dadosEditOrDelete.file
                this.dadosEditOrDelete.file = ''
                this.loadingEditModal = false
            },
            Delete () {
                this.sendingdelete = true
                let id = this.dadosEditOrDelete.id
                this.$http.delete(apiDomain + this.url + '/' + id).then(
                  (req) => {
                    this.sendingdelete = false
                    let index = this.dados.findIndex(y => y.id === id)
                    this.dados.splice(index, 1);
                    this.buttonClickHandler({
                        text: {msg: [this.nome + " Excluído com sucesso!"]},
                        type: 'success',//optional
                        title: 'Sucesso!',
                    })
                    setTimeout(function () {
                            this.showDeleteModal = false
                            this.modalOpen = false
                        }.bind(this), 5000)
                  },
                  (response) => {
                    this.sendingdelete = false
                    if (response.status === 422) {
                      this.errorMsg = response.body
                    } else {
                      this.errorMsg = {msg: ["Erro de servidor, tente novamente!"]}
                    }
                    this.buttonClickHandler({
                        text: this.errorMsg,
                        type: 'danger',//optional
                        title: 'Erro!',
                    })
                  })
            },
            DeleteModal (id) {
                this.showDeleteModal = true
                this.modalOpen = true
                let itemDelete = JSON.parse(JSON.stringify(this.dados[this.dados.findIndex(y => y.id === id)]))
                this.dadosEditOrDelete = itemDelete
            },
            buttonClickHandler (alert) {
                bus.$emit('showalert', alert)
            },
            CloseEditModal (){
                this.showEditModal = false
                this.modalOpen = false
            },
            CloseDeleteModal (){
                this.showDeleteModal = false
                this.modalOpen = false
            }
        },
        components:{
            flashMessage,
            modal: VueStrap.modal
        }
    }
</script>
