<template>
    <div>
        <div v-if="loadingPage" class="text-center loadingPage">
            <img src="/img/ajax-loader.gif">
        </div>
        <div v-else>
            <div class="row" v-if="server">

                <div class="col-md-12">
                    <form role="form" class="form-horizontal" enctype="multipart/form-data">
                        <h3><i class="fa fa-list"></i> Cadastrar Nova {{ nome }}</h3>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Categoria</label>
                                <input class="form-control" v-model="dado.name" placeholder="Nome da categoria" required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Categoria mãe</label>
                                <select class="form-control" v-model="dado.parent_id">
                                    <option value="">-- Mãe --</option>
                                    <option v-for="opt in dados" :value="opt.id">{{ opt.name }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div v-if="!modalOpen">
                                <flash-message></flash-message>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" @click.prevent="Create" class="btn btn-default btn-primary btn-lg">Adicionar {{ nome }}</button>
                                <img src="/img/ajax-loader.gif" v-if="sending" height="50">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12">
                    <hr>
                    <h3><i class="fa fa-list"></i> Lista de Categorias </h3>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Categorias</th>
                            <th>Subcategorias</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in dados">
                            <td>
                                <h4>Nome: {{ item.name }}</h4>
                                <button type="button" class="btn btn-primary btn-circle" @click.prevent="EditModal(item.id)" title="Editar"><i class="fa fa-list"></i></button>
                                <button type="button" v-if="item.children.length == 0" class="btn btn-danger btn-circle" @click.prevent="DeleteModal(item.id)" title="Excluir"><i class="fa fa-times"></i>
                                </button>
                            </td>
                            <td>
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr v-for="child in item.children">
                                        <td>
                                            <p>Nome: {{ child.name }}</p>

                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-circle" @click.prevent="EditModal(item.id, child.id)" title="Editar"><i class="fa fa-list"></i></button>
                                            <button type="button" class="btn btn-danger btn-circle" @click.prevent="DeleteModal(item.id, child.id)" title="Excluir"><i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" v-else="server">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        {{ msg }}
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>

        <modal :show.sync="showEditModal">
            <div slot="modal-header" class="modal-header">
                <h4 class="modal-title">
                    Editando {{ nome }}
                </h4>
            </div>
            <div slot="modal-body" class="modal-body">
                <div v-if="loadingEditModal" class="loadinPage">
                    <img src="/img/ajax-loader.gif" width="40px" alt="Loader">
                </div>
                <div v-else>
                    <form role="form" class="form-horizontal">

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Nome da {{ nome }}</label>
                                <input class="form-control" v-model="dadosEditOrDelete.name" placeholder="Nome Categoria" required="required">
                            </div>
                        </div>

                        <div class="form-group" v-if="child">
                            <div class="col-md-12">
                                <label>Categoria mãe</label>
                                <select class="form-control" v-model="dadosEditOrDelete.parent_id">
                                    <option value="">-- Mãe --</option>
                                    <option v-for="opt in dados" :value="opt.id">{{ opt.name }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <flash-message v-if="showEditModal"></flash-message>
                            <div class="col-md-12 text-center">
                                <button type="submit" @click.prevent="Edit" class="btn btn-default btn-primary btn-lg">Alterar {{ nome }}</button>
                                <img src="/img/ajax-loader.gif" v-if="sendingedit" height="50">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div slot="modal-footer" class="modal-footer">
                <button type="button" class="btn btn-default" @click.prevent="CloseEditModal">Cancelar</button>
            </div>
        </modal>

        <modal :show.sync="showDeleteModal">
            <div slot="modal-header" class="modal-header">
                <h4 class="modal-title">
                    Tem certeza que deseja excluir esta {{ nome }}?
                </h4>
            </div>
            <div slot="modal-body" class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>Nome: <strong>{{ dadosEditOrDelete.name }}</strong></p>
                        <p></p>
                        <flash-message v-if="showDeleteModal"></flash-message>
                        <div class="col-md-12 text-center">
                            <button type="submit" @click.prevent="Delete" class="btn btn-default btn-primary btn-lg">Excluir {{ nome }}</button>
                            <img src="/img/ajax-loader.gif" v-if="sendingdelete" height="50">
                        </div>
                    </div>
                </div>
            </div>
            <div slot="modal-footer" class="modal-footer">
                <button type="button" class="btn btn-default" @click.prevent="CloseDeleteModal">Cancelar</button>
            </div>
        </modal>
    </div>
</template>

<script>
    import {apiDomain} from './../../config'
    import flashMessage from './../flash-message'
    import bus from './../utils/bus'
    import _ from 'lodash'
    import VueStrap from 'vue-strap'
    export default {
        name: "categorias",
        data() {
            return {
                server: true,
                loadingPage: true,
                showEditModal: false,
                showDeleteModal: false,
                loadingEditModal: false,
                sendingedit: false,
                sendingdelete: false,
                sending: false,
                modalOpen: false,
                errorMsg: {},
                child: false,
                nome: 'Categoria',
                url: 'api/categorias',
                image: '',
                dadosEditOrDelete: {
                    id: null,
                    name: null,
                    parent_id: null
                },
                dado: {
                    name: null,
                    parent_id: '',
                },
                dados: []
            }
        },
        mounted () {
            this.loadingPage = true
            this.$http.get(apiDomain + this.url).then((response) => {
                this.dados = response.body.original
                this.loadingPage = false
            }, (response) => {
                this.server = false
                this.msg = "Erro de servidor"
                this.loadingPage = false
            })
        },
        methods: {
            Create (e) {
                this.sending = true
                this.$http.post(apiDomain + this.url, this.dado).then((response) => {
                    let id = this.dado.parent_id
                    if(id){
                        let index = this.dados.findIndex(y => y.id === id)
                        this.dados[index].children.push(response.body)
                    }else{
                        this.dados.push(response.body)
                    }
                    this.sending = false
                    this.dado = {name: null, parent_id: ''}
                    this.buttonClickHandler({
                        text: {msg: [ this.nome + " adicionado com sucesso!"]},
                        type: 'success',//optional
                        title: 'Sucesso!',
                    })
                }, (response) => {
                    this.sending = false
                    if (response.status === 422) {
                      this.errorMsg = response.body
                    } else {
                      this.errorMsg = {msg: ["Erro de servidor, tente novamente!"]}
                    }
                    this.buttonClickHandler({
                        text: this.errorMsg,
                        type: 'danger',//optional
                        title: 'Erro!',
                    })
                })
            },
            Edit () {
                this.sendingedit = true
                let id = this.dadosEditOrDelete.id
                this.$http.put(apiDomain + this.url + '/' + id, this.dadosEditOrDelete).then(
                  (req) => {
                    this.sendingedit = false
                    let index = this.dados.findIndex(y => y.id === id)
                    this.dados[index] = req.body
                    this.child = false
                    this.buttonClickHandler({
                        text: {msg: [this.nome + " Editado com sucesso!"]},
                        type: 'success',//optional
                        title: 'Sucesso!',
                    })
                    setTimeout(function () {
                            this.showEditModal = false
                            this.modalOpen = false
                        }.bind(this), 5000)
                  },
                  (response) => {
                    this.sendingedit = false
                    if (response.status === 422) {
                      this.errorMsg = response.body
                    } else {
                      this.errorMsg = {msg: ["Erro de servidor, tente novamente!"]}
                    }
                    this.buttonClickHandler({
                        text: this.errorMsg,
                        type: 'danger',//optional
                        title: 'Erro!',
                    })
                  })
            },
            EditModal (id, child = null) {
                this.showEditModal = true
                this.loadingEditModal = true
                this.modalOpen = true
                this.child = false
                let edit = {}
                if(child){
                    let tmp = JSON.parse(JSON.stringify(this.dados[this.dados.findIndex(y => y.id === id)]))
                    edit = JSON.parse(JSON.stringify(tmp.children[tmp.children.findIndex(y => y.id === child)]))
                    this.child = true
                }else {
                   edit = JSON.parse(JSON.stringify(this.dados[this.dados.findIndex(y => y.id === id)]))
                }
                this.dadosEditOrDelete = edit
                this.loadingEditModal = false
            },
            Delete () {
                this.sendingdelete = true
                let id = this.dadosEditOrDelete.id
                this.$http.delete(apiDomain + this.url + '/' + id).then(
                  (req) => {
                    this.sendingdelete = false
                    if(this.child){
                        let mae = this.dadosEditOrDelete.parent_id
                        let indextmp = this.dados.findIndex(y => y.id === mae)
                        let index = this.dados[indextmp].children.findIndex(y => y.id === id)
                        this.dados[indextmp].children.splice(index, 1);
                    }else{
                        let index = this.dados.findIndex(y => y.id === id)
                        this.dados.splice(index, 1);
                    }
                    this.buttonClickHandler({
                        text: {msg: [this.nome + " Excluído com sucesso!"]},
                        type: 'success',//optional
                        title: 'Sucesso!',
                    })
                    setTimeout(function () {
                            this.showDeleteModal = false
                            this.modalOpen = false
                        }.bind(this), 5000)
                  },
                  (response) => {
                    this.sendingdelete = false
                    if (response.status === 422) {
                      this.errorMsg = response.body
                    } else {
                      this.errorMsg = {msg: ["Erro de servidor, tente novamente!"]}
                    }
                    this.buttonClickHandler({
                        text: this.errorMsg,
                        type: 'danger',//optional
                        title: 'Erro!',
                    })
                  })
            },
            DeleteModal (id, child) {
                this.showDeleteModal = true
                this.modalOpen = true
                this.child = false
                let itemDelete = {}
                if(child){
                    let tmp = JSON.parse(JSON.stringify(this.dados[this.dados.findIndex(y => y.id === id)]))
                    itemDelete = JSON.parse(JSON.stringify(tmp.children[tmp.children.findIndex(y => y.id === child)]))
                    this.child = true
                }else {
                   itemDelete = JSON.parse(JSON.stringify(this.dados[this.dados.findIndex(y => y.id === id)]))
                }
                this.dadosEditOrDelete = itemDelete
            },
            buttonClickHandler (alert) {
                bus.$emit('showalert', alert)
            },
            CloseEditModal (){
                this.showEditModal = false
                this.modalOpen = false
                this.child = false
            },
            CloseDeleteModal (){
                this.showDeleteModal = false
                this.modalOpen = false
            }
        },
        components:{
            flashMessage,
            modal: VueStrap.modal
        }
    }
</script>
