<template>
    <div v-if="loadingPage" class="text-center loadingPage">
        <img src="/img/ajax-loader.gif">
    </div>
    <div v-else>
        <div class="row" v-if="server">
            <div class="col-md-7">
                <form role="form" class="form-horizontal">
                    <legend><i class="fa fa-table"></i> Dados da Empresa</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Nome da Empresa</label>
                            <input class="form-control" v-model="config.name" @change="slug()" placeholder="Nome fantasia da empresa." required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9">
                            <label>Endereço</label>
                            <input class="form-control" v-model="config.address" placeholder="Rua/Avenida/etc">
                        </div>
                        <div class="col-md-3">
                            <label>Número</label>
                            <input class="form-control" v-model="config.number" placeholder="nº">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Bairro</label>
                            <input class="form-control" v-model="config.district" placeholder="Bairro">
                        </div>
                        <div class="col-md-6">
                            <label>Cidade</label>
                            <input class="form-control" v-model="config.city" placeholder="Cidade">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <label>Estado</label>
                            <input class="form-control" v-model="config.state" placeholder="Ex: SP">
                        </div>
                        <div class="col-md-6">
                            <label>CEP</label>
                            <input class="form-control" v-model="config.postalcode" placeholder="CEP">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>E-mail</label>
                            <input class="form-control" v-model="config.email" placeholder="E-mail Válido">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <legend><i class="fa fa-rocket"></i> Otimização SEO</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Meta Descrição</label>
                            <textarea v-model="config.description" class="form-control" rows="3" placeholder="Descreva com 240 caracteres sua Empresa"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Palavras chaves</label>
                            <textarea v-model="config.keywords" class="form-control" rows="3" placeholder="Ex: Desenvolvimento de software, software, sistemas, etc"></textarea>
                            <p class="help-block">Palavras chaves que deseja ser encontrado nos motores de buscas separadas por vígulas.</p>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <legend><i class="fa fa-globe"></i> Redes Sociais</legend>
                    <p class="text-muted">As Urls das redes sociais devem ser completas seguindo o exemplo http://www.facebook.com/suaempresa. </p>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Facebook</label>
                            <input class="form-control" v-model="config.facebook" placeholder="ex: http://www.facebook.com/suaempresa">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Twiiter</label>
                            <input class="form-control" v-model="config.twiiter" placeholder="ex: http://www.twiiter.com/suaempresa">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Gplus</label>
                            <input class="form-control" v-model="config.gplus" placeholder="ex: http://www.google.com/suaempresa">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>linkedin</label>
                            <input class="form-control" v-model="config.linkedin" placeholder="ex: http://www.linkedin.com/suaempresa">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>You Tube</label>
                            <input class="form-control" v-model="config.youtube" placeholder="ex: http://www.youtube.com/suaempresa">
                        </div>
                    </div>

                    <div class="form-group">
                        <flash-message></flash-message>
                        <div class="col-md-12 text-center">
                            <button type="submit" @click.prevent="editOrSave" class="btn btn-default btn-primary btn-lg">Salvar alterações</button>
                            <img src="/img/ajax-loader.gif" v-if="sending" height="50">
                        </div>
                    </div>


                </form>
            </div> <!-- col-8 -->
            <div class="col-md-4 col-md-offset-1">
                <h3><i class="fa fa-phone"></i> Telefones</h3>
                <telefones></telefones>
            </div>
        </div>
        <div class="row" v-else="server">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    {{ msg }}
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>

</template>

<script>
    import {apiDomain} from './../../config'
    import flashMessage from './../flash-message'
    import telefones from './telefones'
    import bus from './../utils/bus'
    import _ from 'lodash'
    export default {
        data() {
            return {
                server: true,
                loadingPage: true,
                sending: false,
                errorMsg: {},
                config: {
                    id: 1,
                    name: '',
                    //slug: '',
                    address: '',
                    number: '',
                    district: '',
                    city: '',
                    state: '',
                    postalcode: '',
                    email: '',
                    twiiter: '',
                    facebook: '',
                    gplus: '',
                    linkedin: '',
                    youtube: '',
                    keywords: '',
                    description: ''
                }
            }
        },
        mounted () {


            this.loadingPage = true
            this.$http.get(apiDomain + 'api/configuracoes').then((response) => {
                this.config = response.body.original
                this.loadingPage = false
            }, (response) => {
                this.server = false
                this.msg = "Erro de servidor"
                this.loadingPage = false
            })

        },
        methods: {
            editOrSave () {
                this.sending = true
                this.$http.post(apiDomain + 'api/configuracoes', this.config).then((response) => {
                    this.config = response.body
                    this.sending = false
                    this.buttonClickHandler({
                        text: {msg: ["Configurações salvas com sucesso!"]},
                        type: 'success',//optional
                        title: 'Sucesso!',
                    })
                }, (response) => {
                    this.sending = false
                    if (response.status === 422) {
                      this.errorMsg = response.body
                    } else {
                      this.errorMsg = {msg: ["Erro de servidor, tente novamente!"]}
                    }
                    this.buttonClickHandler({
                        text: this.errorMsg,
                        type: 'danger',//optional
                        title: 'Erro!',
                    })
                })
            },
            slug () {
                this.config.slug = _.snakeCase(_.deburr(this.config.name))
            },
            buttonClickHandler (alert) {
                bus.$emit('showalert', alert)
            }
        },
        components:{
            flashMessage,
            telefones
        }
    }
</script>
