<template>
    <div>
        <div v-if="loadingPage" class="text-center loadingPage">
            <img src="/img/ajax-loader.gif">
        </div>
        <div v-else>
            <div class="row" v-if="server">

                <div class="col-md-12">
                    <form role="form" class="form-horizontal" enctype="multipart/form-data">
                        <h3><i class="fa fa-list"></i> Cadastrar Nova {{ nome }}</h3>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Título</label>
                                <input class="form-control" v-model="dado.title" placeholder="Título da Página" required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Categoria</label>
                                <select class="form-control" v-model="dado.category_id">
                                    <option value="">Selecione uma categoria</option>
                                    <option v-for="cat in categorias" :value="cat.id">{{ cat.name }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Conteúdo</label>
                                <summernote class="form-control"
                                            name="editor"
                                            :model="dado.content"
                                            v-on:change="value => { dado.content = value }"
                                ></summernote>

                                <div v-show="content">

                                    <h3>Summernote-Input:</h3>
                                    <div v-html="dado.content"></div>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <flash-message></flash-message>
                            <div class="col-md-12 text-center">
                                <button type="submit" @click.prevent="Create" class="btn btn-default btn-primary btn-lg">Adicionar {{ nome }}</button>
                                <img src="/img/ajax-loader.gif" v-if="sending" height="50">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" v-else="server">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        {{ msg }}
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>


    </div>
</template>

<script>
    import {apiDomain} from './../../config'
    import flashMessage from './../flash-message'
    import bus from './../utils/bus'
    import _ from 'lodash'
    export default {
        name: "paginas-create",
        data() {
            return {
                server: true,
                loadingPage: true,
                sending: false,
                errorMsg: {},
                nome: 'Páginas',
                url: 'api/paginas',
                image: '',
                dado: {
                    title: null,
                    slug: null,
                    content: null,
                    keywords: null,
                    description: null,
                    category_id: '',
                },
                categorias: {}
            }
        },
        mounted () {
            this.loadingPage = true
            this.$http.get(apiDomain + 'api/categorias').then((response) => {
                this.categorias = response.body.original
                this.loadingPage = false
            }, (response) => {
                this.server = false
                this.msg = "Erro de servidor"
                this.loadingPage = false
            })
        },
        methods: {
            Create (e) {
                this.sending = true
                this.$http.post(apiDomain + this.url, this.dado).then((response) => {
                    this.sending = false
                    this.dado = {
                        title: null,
                        slug: null,
                        content: null,
                        keywords: null,
                        description: null,
                        category_id: '',
                    }
                    this.buttonClickHandler({
                        text: {msg: [ this.nome + " adicionada com sucesso!"]},
                        type: 'success',//optional
                        title: 'Sucesso!',
                    })
                }, (response) => {
                    this.sending = false
                    if (response.status === 422) {
                      this.errorMsg = response.body
                    } else {
                      this.errorMsg = {msg: ["Erro de servidor, tente novamente!"]}
                    }
                    this.buttonClickHandler({
                        text: this.errorMsg,
                        type: 'danger',//optional
                        title: 'Erro!',
                    })
                })
            },

            buttonClickHandler (alert) {
                bus.$emit('showalert', alert)
            },
        },
        components:{
            flashMessage,
            'summernote' : require('./../utils/Summernote')
        }
    }

</script>
