<template>
    <div>
        <div v-if="loadingPage" class="text-center loadingPage">
            <img src="/img/ajax-loader.gif">
        </div>
        <div v-else>
            <div class="row" v-if="server">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Tipo</th>
                            <th>Número</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="fone in telefones">
                            <td>{{ fone.id }}</td>
                            <td><span :class="'fa fa-' + fone.type"></span></td>
                            <td>{{ fone.number }}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-circle" @click.prevent="EditModal(fone.id)"><i class="fa fa-list"></i></button>
                                <button type="button" class="btn btn-danger btn-circle" @click.prevent="DeleteModal(fone.id)"><i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <form role="form" class="form-horizontal">
                        <legend><i class="fa fa-table"></i> Cadastrar Novo Telefone</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <select class="form-control" v-model="telefone.type">
                                    <option value="phone"><span class="fa fa-phone"></span> Fone</option>
                                    <option value="whatsapp"><span class="fa fa-whatsapp"></span> WhatsApp</option>
                                    <option value="mobile"><span class="fa fa-mobile"></span> Celular</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input class="form-control" v-model="telefone.number" placeholder="Número do telefone" required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <flash-message></flash-message>
                            <div class="col-md-12 text-center">
                                <button type="submit" @click.prevent="Create" class="btn btn-default btn-primary btn-lg">Adicionar telefone</button>
                                <img src="/img/ajax-loader.gif" v-if="sending" height="50">
                            </div>
                        </div>


                    </form>
                </div>
            </div>
            <div class="row" v-else="server">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        {{ msg }}
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>

        <modal :show.sync="showEditModal">
            <div slot="modal-header" class="modal-header">
                <h4 class="modal-title">
                    Editando Telefone
                </h4>
            </div>
            <div slot="modal-body" class="modal-body">
                <div v-if="loadingEditModal" class="loadinPage">
                    <img src="/img/ajax-loader.gif" width="40px" alt="Loader">
                </div>
                <div v-else>
                    <form role="form" class="form-horizontal">

                        <div class="form-group">
                            <div class="col-md-12">
                                <select class="form-control" v-model="telefoneedit.type">
                                    <option value="phone"><span class="fa fa-phone"></span> Fone</option>
                                    <option value="whatsapp"><span class="fa fa-whatsapp"></span> WhatsApp</option>
                                    <option value="mobile"><span class="fa fa-mobile"></span> Celular</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input class="form-control" v-model="telefoneedit.number" placeholder="Número do telefone" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <flash-message v-if="showEditModal"></flash-message>
                            <div class="col-md-12 text-center">
                                <button type="submit" @click.prevent="Edit" class="btn btn-default btn-primary btn-lg">Alterar Telefone</button>
                                <img src="/img/ajax-loader.gif" v-if="sendingedit" height="50">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div slot="modal-footer" class="modal-footer">
                <button type="button" class="btn btn-default" @click="showEditModal = false">Cancelar</button>
            </div>
        </modal>

        <modal :show.sync="showDeleteModal">
            <div slot="modal-header" class="modal-header">
                <h4 class="modal-title">
                    Tem certeza que deseja excluir este Telefone?
                </h4>
            </div>
            <div slot="modal-body" class="modal-body">
                <div class="row">
                        <div class="col-md-12">
                            <p>Número: {{ telefoneDelete.number }}</p>
                            <p></p>
                            <flash-message v-if="showDeleteModal"></flash-message>
                            <div class="col-md-12 text-center">
                                <button type="submit" @click.prevent="Delete" class="btn btn-default btn-primary btn-lg">Excluir Telefone</button>
                                <img src="/img/ajax-loader.gif" v-if="sendingdelete" height="50">
                            </div>
                        </div>
                </div>
            </div>
            <div slot="modal-footer" class="modal-footer">
                <button type="button" class="btn btn-default" @click="showDeleteModal = false">Cancelar</button>
            </div>
        </modal>
    </div>
</template>

<script>
    import {apiDomain} from './../../config'
    import flashMessage from './../flash-message'
    import bus from './../utils/bus'
    import _ from 'lodash'
    import VueStrap from 'vue-strap'
    export default {
        name: "telefones",
        data() {
            return {
                server: true,
                loadingPage: true,
                showEditModal: false,
                showDeleteModal: false,
                loadingEditModal: false,
                sendingedit: false,
                sendingdelete: false,
                sending: false,
                errorMsg: {},
                nome: 'Telefone',
                url: 'api/telefones',
                telefoneedit: {
                    id: null,
                    number: null,
                    type: null
                },
                telefoneDelete: { id: null,
                    number: null,
                    type: null
                },
                telefone: {
                    number: '',
                    type: 'phone'
                },
                telefones: []
            }
        },
        mounted () {
            this.loadingPage = true
            this.$http.get(apiDomain + this.url).then((response) => {
                this.telefones = response.body.original
                this.loadingPage = false
            }, (response) => {
                this.server = false
                this.msg = "Erro de servidor"
                this.loadingPage = false
            })

        },
        methods: {
            Create () {
                this.sending = true
                this.$http.post(apiDomain + this.url, this.telefone).then((response) => {
                    this.telefones.push(response.body)
                    this.sending = false
                    this.buttonClickHandler({
                        text: {msg: [this.nome + " adicionado com sucesso!"]},
                        type: 'success',//optional
                        title: 'Sucesso!',
                    })
                }, (response) => {
                    this.sending = false
                    if (response.status === 422) {
                      this.errorMsg = response.body
                    } else {
                      this.errorMsg = {msg: ["Erro de servidor, tente novamente!"]}
                    }
                    this.buttonClickHandler({
                        text: this.errorMsg,
                        type: 'danger',//optional
                        title: 'Erro!',
                    })
                })
            },
            Edit () {
                this.sendingedit = true
                let id = this.telefoneedit.id
                this.$http.put(apiDomain + this.url + '/' + id, this.telefoneedit).then(
                  (req) => {
                    this.sendingedit = false
                    let index = this.telefones.findIndex(y => y.id === id)
                    this.telefones[index].number = req.body.number
                    this.telefones[index].type = req.body.type
                    this.buttonClickHandler({
                        text: {msg: [this.nome + " Editado com sucesso!"]},
                        type: 'success',//optional
                        title: 'Sucesso!',
                    })
                    setTimeout(function () {
                            this.showEditModal = false
                        }.bind(this), 5000)
                  },
                  (response) => {
                    this.sendingedit = false
                    if (response.status === 422) {
                      this.errorMsg = response.body
                    } else {
                      this.errorMsg = {msg: ["Erro de servidor, tente novamente!"]}
                    }
                    this.buttonClickHandler({
                        text: this.errorMsg,
                        type: 'danger',//optional
                        title: 'Erro!',
                    })
                  })
            },
            EditModal (id) {
                this.showEditModal = true
                this.loadingEditModal = true
                let edit = JSON.parse(JSON.stringify(this.telefones[this.telefones.findIndex(y => y.id === id)]))
                this.telefoneedit.number = edit.number
                this.telefoneedit.id = edit.id
                this.telefoneedit.type = edit.type
                this.loadingEditModal = false
            },
            Delete () {
                this.sendingdelete = true
                let id = this.telefoneDelete.id
                this.$http.delete(apiDomain + this.url + '/' + id).then(
                  (req) => {
                    this.sendingdelete = false
                    let index = this.telefones.findIndex(y => y.id === id)
                    this.telefones.splice(index, 1);
                    this.buttonClickHandler({
                        text: {msg: [this.nome + " Excluído com sucesso!"]},
                        type: 'success',//optional
                        title: 'Sucesso!',
                    })
                    setTimeout(function () {
                            this.showDeleteModal = false
                        }.bind(this), 5000)
                  },
                  (response) => {
                    this.sendingdelete = false
                    if (response.status === 422) {
                      this.errorMsg = response.body
                    } else {
                      this.errorMsg = {msg: ["Erro de servidor, tente novamente!"]}
                    }
                    this.buttonClickHandler({
                        text: this.errorMsg,
                        type: 'danger',//optional
                        title: 'Erro!',
                    })
                  })
            },
            DeleteModal (id) {
                this.showDeleteModal = true
                let itemDelete = this.telefones[this.telefones.findIndex(y => y.id === id)]
                this.telefoneDelete.number = itemDelete.number
                this.telefoneDelete.id = itemDelete.id
                this.telefoneDelete.type = itemDelete.type
            },
            buttonClickHandler (alert) {
                bus.$emit('showalert', alert)
            }
        },
        components:{
            flashMessage,
            modal: VueStrap.modal
        }
    }
</script>
